* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #2c5364, #203a43);
  color: #10242b;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #ffffff;
  padding: 3rem 5rem;
  cursor: pointer;
}

.card p {
  padding-top: 1rem;
  line-height: 150%;
}

.expand {
  width: 35rem;
}
